
<div class='panel-heading'>{{ user.name }}
      <form action="/users/{{user.id}}?_method=DELETE" method="POST">
        <button class='btn btn-danger btn-xs'>Delete</button>
      </form>
    </div>
    <div class='panel-body'>
      <form action="/users/{{user.id}}/awards" method='POST'>
        <button class='btn btn-primary btn-xs'>Create an Award</button>
      </form>
      <ul>
        {% for award in user.awards %}
        {% if award.userId === user.id %}
        <li>{{award.name}}</li>
        <form action="/users/{{user.id}}/awards/{{award.id}}?_method=DELETE" method='POST'>
        <button class='btn btn-warning btn-xs'>Delete award</button>
      </form>
        {% endif %}
        {% endfor %}
      </ul>
      {% include "mentors.html" %}
</div>


