{% if user.mentorId %}

<div class='label label-default'>Mentored by {{user.mentor.name}}</div>
<br></br>
<form action="/users/{{user.id}}?_method=PUT" method='POST'>
    <button class='btn btn-warning btn-xs'>Remove Mentor</button>
</form>
{% elif findAvailableMentors[user.id].length > 0 %}

<form action="/users/{{user.id}}?_method=PUT" method='POST' class='well'>
  <div class='form-group'>
    <select name="mentorId" class='form-control'>
      {% for usr in users %}
        {% if usr.mentorStatus === true and user.id !== usr.id %}
      <option value="{{usr.id}}">{{usr.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <button class='btn btn-primary btn-xs'>Set as mentor</button>
</form>
{% endif %}
