{% extends "layout.html" %}

{% block content %}
    <form action="/users" method='POST' class='well'>
    <div class='form-group'>
      <input id='userName' name='name' class='form-control' type="text" placeholder="user name">
    </div>
    <button class='btn btn-primary btn-xs'>Add User</button>
    </form>


    <div class='row'>
      {% for user in users %}
      <div class='col-sm-3'>
        <div class='panel panel-default'>
        {% include "awards.html" %}
        </div>
      </div>
      {% endfor %}

    </div>

{% endblock %}
